body {
  counter-reset: heading;
}

div.toc-page a::after { }

h1::before {
  counter-increment: heading;
}

 @page {
   @top-left {
     content: element(header-left);
   }
   @top-right {
     content: element(header-right);
   }
    @bottom-left {
      content: element(footer-left);
    }
    @bottom-right { }
  }

div.header-left { position: running(header-left); }
div.header-right { position: running(header-right); }
div.footer-left { position: running(footer-left); }

